{% extends "base.html" %}


{% block app_content %}
    <h1>{{ 'Reset Your Password'}}</h1>
    <form  method="post">
     {{ form.hidden_tag() }}
   
        <div class="col-md-4">
            <div class="form-group">
                {{ form.password.label(class="sr-only") }}
                {{ form.password(class="form-control",placeholder="请输入密码",size=32) }}
            </div>
            <div class="form-group">
                {{ form.password2.label(class="sr-only") }}
                {{ form.password2(class="form-control",placeholder="请输入密码",size=32) }}
            </div>
        </div>
     
    {{ form.submit(class="btn btn-primary btn-block") }}
    </form>
{% endblock %}
