<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
       
        <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
        <script  src="{{url_for('static',filename='jquery-3.5.1/jquery.min.js')}}"></script>
    </head>
    <body>

    
    

         <a href="{{url_for('wx.next')}}">下一页</a>
         <script>
   
            $(function () {

                wx.config({
                    debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                    appId: 'wxfa9191e55c89875b', // 必填，公众号的唯一标识
                    timestamp: {{jsapi_sign.timestamp}}, // 必填，生成签名的时间戳
                    nonceStr: '{{jsapi_sign.nonceStr}}', // 必填，生成签名的随机串
                    signature: '{{jsapi_sign.signature}}',// 必填，签名
                    jsApiList: ['checkJsApi','chooseImage','onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表
                });

                 wx.error(function (res) {
                    alert("接口验证失败，详细信息：\n"+JSON.stringify(res));
                });
                wx.ready(function () {
                    alert("wx.ready");
                    console.log("wx.ready");
                });

            });
            </script>
  
         

         
    </body>
</html>