{% extends "base.html" %}

{% block app_content %}
    <h1>修改个人资料</h1>
    <hr>
    <div class="container ">
        <form action="" method="post" class="dropzone" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class='form-group'>
                <div style="position: relative;border: 3px solid lightblue;width: 150px;height:150px;margin: 3px auto;border-radius: 50%;">
                    <img src="{{url_for('main.download_avatar',filename=form.avatar_file.data)}}" alt="选择并上传头像" id="avatar_img"
                        style="width: 140px;height: 140px;left:0;top: 0;border-radius: 50%;"/>
                    <input type="file" id="avatar_file" name="avatar_file"
                        accept="image/jpg,image/png,image/gif"
                        style="width: 100%;height:100%;opacity: 0;position: absolute;left:0;top: 0;"/>
                        <p class="text-secondary mt-1">点击更换头像</p>
                </div>
                <br/>
                
            </div>
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class='form-control',size=32,placeholder='请输入用户名') }}
            </div>
            
            <div class='form-group'>
                {{ form.about_me.label }}
                {{ form.about_me(class='form-control',cols=50, rows=4) }}
                {% for error in form.about_me.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
           
            {{ form.submit(class="btn btn-primary btn-block") }}
        </form>
    </div>
{% endblock app_content %}

{% block scripts %}
<script src="{{url_for('static',filename='dropzone-7.5.0/dist/dropzone.js')}}"></script>
 
 <script>
   // 头像预览
    $("#avatar_file").change(function () {
      //  console.log(this.files.length);
        if( this.files.length>0){
            // 获取上传文件对象
            var file = $(this)[0].files[0];
            // 读取文件URL
            var reader = new FileReader();
            reader.readAsDataURL(file);
            // 阅读文件完成后触发的事件
            reader.onload = function () {
                // 读取的URL结果：this.result
                $("#avatar_img").attr("src", this.result);
            }
        }
    });
  /*  $(function(){
        Dropzone.options.myAwesomeDropzone = {
            paramName: "avatar_file", // The name that will be used to transfer the file
            maxFilesize: 2, // MB
        }
    })*/
 </script>
{% endblock%}
